# Visual Studio
.vs/
**/.vs/

# Build output
bin/
obj/
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

*.db
*.db-shm
*.db-wal
appsettings.Development.json
settings.json
launcher-settings.json

# Unity generated IDE files
GameLauncher/UnityGame/*.csproj
GameLauncher/UnityGame/*.sln

GameLauncher/UnityGameBuild/
GameLauncher/PatchServer/files/
GameLauncher/UnityGame/Library/
GameLauncher/UnityGame/Temp/
GameLauncher/UnityGame/Logs/
GameLauncher/UnityGame/obj/
GameLauncher/UnityGame/UserSettings/